/* Variables */

:root {
    --main-bg-color: #29203C;
    --secondary-bg-color: #FCF2DD;
    --main-button-color: #F8F8F8;
    --main-text-color: #000000;
    --main-text-font: 'Roboto', sans-serif;
}

/* General styles, regardless of screen size */

nav a {
    text-decoration: none;
    font-family: var(--main-text-font);
    font-size: 18;
    font-weight: bold;
    color: var(--main-text-color);
}

nav.non-mobile {
    display: none;
    z-index: 1;
    position: absolute;
    top: 60px;
    background-color: var(--main-button-color);
    width: 80%;
    margin: 0 10%;
}

nav.non-mobile ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    list-style-type: none;
    padding: 0;
}


section {
    height: 100vh;
}

section.primary,
footer {
    background-color: var(--main-bg-color);
}

section.secondary {
    background-color: var(--secondary-bg-color);
}

.main-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-logo-container img {
    width: 70%;
    max-width: 400px;
}

footer {
    height: 40vh;
}

/* Extra small devices (phones, 600px and down) */


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    nav.mobile {
        display: none;
    }

    nav.non-mobile {
        display: flex;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}