/* Variables */

:root {
  --main-bg-color: #291f3b;
  --secondary-bg-color: #fcf2dd;
  --main-button-color: #f8f8f8;
  --main-text-color: #000000;
  --main-text-font: 'Roboto', sans-serif;
  --header-text-font: 'Smoller', 'Roboto', sans-serif;
}

/* General styles, regardless of screen size */

html,
body {
  font-family: var(--main-text-font);
  color: var(--main-text-color);
}

nav a {
  text-decoration: none;
  color: var(--main-text-color);
  font-size: 14pt;
  font-weight: bold;
}

nav.non-mobile {
  display: none;
  z-index: 1;
  position: absolute;
  top: 40px;
  background-color: var(--main-button-color);
  width: 80%;
  margin: 0 10%;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.25);
}

nav.non-mobile ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  list-style-type: none;
  padding: 0;
}

section.primary,
footer {
  background-color: var(--main-bg-color);
}

section.secondary {
  background-color: var(--secondary-bg-color);
}

section.text-section {
  padding: 10%;
}

section.image-section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
}

section.image-section img {
  display: block;
  opacity: 0.2;
  width: 100%;
  object-fit: cover;
}

section.image-section p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 100%;
  color: var(--main-bg-color);
  font-size: 24pt;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  font-style: italic;
  text-align: center;
}

#animation {
  display: none;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
}

#non-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
}

#non-animation img {
  width: 500px;
}

.main-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
}

.main-logo-container img {
  width: 70%;
  max-width: 250px;
}

footer {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .email-container {
  background-color: var(--main-button-color);
  width: 50%;
  max-width: 400px;
  text-align: center;
  font-weight: bold;
  font-size: 16pt;
  border: 5px solid black;
  padding: 15px 5px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

footer .email-container a {
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: bold;
}

h3 {
  color: var(--main-bg-color);
  font-family: var(--header-text-font);
  font-size: 32pt;
  font-weight: 900;
  text-align: center;
}

p {
  font-size: 14pt;
  font-weight: 300;
}

.primary-text {
  color: var(--main-button-color);
}

.image {
  width: 100%;
}

section.blog-section {
  padding: 10%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  nav.mobile {
    display: none;
  }

  nav.non-mobile {
    display: flex;
  }

  .main-logo-container img {
    max-width: 350px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h3 {
    font-size: 42pt;
  }

  p {
    font-size: 20pt;
  }

  section.image-section p {
    font-size: 32pt;
  }

  section.text-section {
    padding: 10% 15%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
